In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one  1.156113  1.107949
1    a  two  0.399358 -1.229772
2    b  one  0.176326 -0.657577
3    b  two -0.222376 -2.404402
4    a  one  0.750588 -1.834922

In [5]:
df.groupby('key1') #DataFrame執行Groupby
# 只對數值欄位計算平均值（避免對物件欄位套用 mean）
mean_df = df.groupby('key1')[['data1', 'data2']].mean()

In [6]:
mean_df.stack()

key1
a     data1    0.768686
      data2   -0.652249
b     data1   -0.023025
      data2   -1.530989
dtype: float64

In [8]:
df1 =  df.groupby('key1')[['data1', 'data2']].agg(['mean', 'std'])
df1 #3維資料
df1.columns.names = ["資料","統計"]
df1.index.name = "類別"
#樞紐分析表
df1.stack(level="統計",future_stack=True)
df1.stack(level="資料",future_stack=True)

統計            mean       std
類別 資料
a  data1  0.768686  0.378702
   data2 -0.652249  1.554115
b  data1 -0.023025  0.281925
   data2 -1.530989  1.235192