In [13]:
import numpy as np
import pandas as pd

df = pd.DataFrame({'key1':['a', 'a', 'b', 'b', 'a'],
                  'key2':['one', 'two', 'one', 'two', 'one'],
                  'data1': np.random.randn(5),
                  'data2':np.random.randn(5)})
df

  key1 key2     data1     data2
0    a  one -0.813180  0.674259
1    a  two  0.195806  0.816009
2    b  one -0.304225  1.996775
3    b  two  0.339723  0.806423
4    a  one  0.668184 -0.133280

In [ ]:
# Series Groupby
display(df['data1'])
display(df['key1'])
df['data1'].groupby(df['key1']) #Series執行Groupby
df['data1'].groupby(df['key1']).mean()#對 data1 根據 key1 分組後，計算每組的平均值。

0   -0.813180
1    0.195806
2   -0.304225
3    0.339723
4    0.668184
Name: data1, dtype: float64

0    a
1    a
2    b
3    b
4    a
Name: key1, dtype: object

key1
a    0.016937
b    0.017749
Name: data1, dtype: float64

In [ ]:
#是在對 data1 欄位依據 key1 分組後，一次計算多種統計值：平均值（mean）和標準差（std）。
df['data1'].groupby(df['key1']).agg(['mean', 'std'])

          mean       std
key1
a     0.016937  0.756707
b     0.017749  0.455340

In [16]:
mean = df['data1'].groupby([df['key1'], df['key2']]).mean()
mean

key1  key2
a     one    -0.072498
      two     0.195806
b     one    -0.304225
      two     0.339723
Name: data1, dtype: float64

In [ ]:
#寬資料格式(非堆疊資料格式)
mean.unstack()

key2       one       two
key1
a    -0.072498  0.195806
b    -0.304225  0.339723

In [ ]:
#長資料格式(堆疊資料格式)
mean.unstack().stack()

key1  key2
a     one    -0.072498
      two     0.195806
b     one    -0.304225
      two     0.339723
dtype: float64