In [1]:
#1維的list
import pandas as pd
sdata = [3000,5000,8000]

s1 = pd.Series(sdata)
s1

0    3000
1    5000
2    8000
dtype: int64

In [8]:
#1維的list
import pandas as pd
sdata = {'台北':3000,'桃園':5000,'新竹':8000}

s1 = pd.Series(sdata)
s1

台北    3000
桃園    5000
新竹    8000
dtype: int64

In [9]:
#1維的list
import pandas as pd
sdata = {'台北':3000,'桃園':5000,'新竹':8000}

s2 = pd.Series(sdata)
s2.index

Index(['台北', '桃園', '新竹'], dtype='object')

In [10]:
#2維dict
sdata = {
    '台北': [35000,36000,37000],
    '桃園': [71000,72000,73000],
    '新竹': [16000,17000,18000]
}
df1 = pd.DataFrame(sdata)
df1.index
df1.columns

Index(['台北', '桃園', '新竹'], dtype='object')

In [ ]:
import pandas as pd

df3 = pd.read_csv('交通流量.csv',)

In [11]:
#1維list
import pandas as pd
sdata = [3000, 5000, 8000]

s1 = pd.Series(sdata)
s1.index

RangeIndex(start=0, stop=3, step=1)

In [12]:
#1維dict
sdata = {'台北':35000, '桃園':71000, '台中':16000, '高雄':5000}
s2 = pd.Series(sdata)
s2.index

Index(['台北', '桃園', '台中', '高雄'], dtype='object')

In [13]:
#2維dict
sdata = {
    '台北': [35000, 36000, 37000],
    '桃園': [71000, 72000, 73000],
    '台中': [16000, 17000, 18000],
    '高雄': [5000, 6000, 7000]
}
df1 = pd.DataFrame(sdata)
df1.index
df1.columns

Index(['台北', '桃園', '台中', '高雄'], dtype='object')

In [14]:
#2維dict
sdata = [
    {'城市': '台北', '人口': 35000, '面積': 100},
    {'城市': '桃園', '人口': 71000, '面積': 200},
    {'城市': '台中', '人口': 16000, '面積': 150},
    {'城市': '高雄', '人口': 5000, '面積': 80}
]
df2 = pd.DataFrame(sdata)
df2

   城市     人口   面積
0  台北  35000  100
1  桃園  71000  200
2  台中  16000  150
3  高雄   5000   80

In [15]:
import pandas as pd

df3 = pd.read_csv('交通流量.csv', encoding='utf-8')
df3

      路線方向     路段   交流道         進出口     週六     週日   週2-4
0     國1南向  非主線資料   基隆端          進口  34246  31547  29403
1     國1南向  非主線資料    基隆          出口   9484   8123   9403
2     國1南向  非主線資料    基隆  進口1-尚仁路,基隆   2108   1997   2579
3     國1南向  非主線資料    基隆  進口2-麥金路,金山   6051   5398   5895
4     國1南向  非主線資料    八堵          進口  10785  11990   9027
..     ...    ...   ...         ...    ...    ...    ...
751  國10西向  非主線資料  燕巢系統          出口   4612   4647   3906
752  國10西向  非主線資料  燕巢系統     進口1-國3南   6515   8890   6517
753  國10西向  非主線資料  燕巢系統     進口2-國3北  10822  13415  11181
754  國10西向  非主線資料    嶺口          進口   5196   5680   4242
755  國10西向  非主線資料   旗山端          進口  12946  17106  10412

[756 rows x 7 columns]

In [19]:

df3.values.tolist()[:5]

[['國1南向', '非主線資料', '基隆端', '進口', '34246', '31547', '29403'],
 ['國1南向', '非主線資料', '基隆', '出口', '9484', '8123', '9403'],
 ['國1南向', '非主線資料', '基隆', '進口1-尚仁路,基隆', '2108', '1997', '2579'],
 ['國1南向', '非主線資料', '基隆', '進口2-麥金路,金山', '6051', '5398', '5895'],
 ['國1南向', '非主線資料', '八堵', '進口', '10785', '11990', '9027']]

In [20]:

df3.to_numpy().tolist()[:5]

[['國1南向', '非主線資料', '基隆端', '進口', '34246', '31547', '29403'],
 ['國1南向', '非主線資料', '基隆', '出口', '9484', '8123', '9403'],
 ['國1南向', '非主線資料', '基隆', '進口1-尚仁路,基隆', '2108', '1997', '2579'],
 ['國1南向', '非主線資料', '基隆', '進口2-麥金路,金山', '6051', '5398', '5895'],
 ['國1南向', '非主線資料', '八堵', '進口', '10785', '11990', '9027']]